<h1>UPDATE EMPLOYEE HERE:</h1>
<form class="form" [formGroup]="employeeForm" (ngSubmit)="updateEmployee()">
    <input class="input" type="text" name="first_name" placeholder="Enter First Name" formControlName="first_name" required/>
    <br />
    <input class="input" type="text" name="last_name" placeholder="Enter Last Name" formControlName="last_name" required/>
    <br />
    <input class="input" type="email" name="email"  placeholder="Enter Email"  formControlName="email" required/>
    <br />
    <!-- <input class="input" type="gender" name="gender"  placeholder="Enter Gender"  formControlName="gender" required/> -->
    <label for="gender">Gender</label>
    <select formControlName="gender" name="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
    </select>
    <br />
    <input class="input" type="number" name="salary"  placeholder="Enter Salary"  formControlName="salary" required/>
    <br />
    <button class="submit-button" [disabled]="employeeForm.invalid">Save</button>
    <button (click)="goBack()">Cancel</button>
</form>